---
const { class: className } = Astro.props;
---

<!-- The best thing? It's all in one -->
<section id="all-in-one" class:list={["all-in-one-section relative text-white", className]}>
	<div class="wrapper col-span-12 min-h-screen w-full">
		<div class="line-animation-wrapper h-full min-h-[110rem]">
			<svg id="all-in-one-svg" class="absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 1200">
				<!-- https://yqnn.github.io/svg-path-editor/ -->
				<path
					class="all-in-one-line-path"
					d="M -5 0 Q 334 135 189 164 T 227 362 A 1 1 0 0 0 302 268 A 1 1 0 0 0 215 410 C 274 443 324 481 322 552 C 310 703 365 610 983 719"
					fill="none"
					stroke="white"
					stroke-width="5px">
				</path>
			</svg>
		</div>

		<div class="min-h-[150rem]">
			<div>
				<h2>Best thing?</h2>
			</div>
			<div>
				<h3>It's all in 1 package</h3>
			</div>
		</div>
	</div>
</section>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import { DrawSVGPlugin } from "gsap/DrawSVGPlugin";

	gsap.registerPlugin(ScrollTrigger, DrawSVGPlugin);

	function init() {
		const linePath = document.querySelector(".all-in-one-line-path");

		gsap.set(linePath, { drawSVG: 0 });

		gsap.timeline({
			scrollTrigger: {
				trigger: ".line-animation-wrapper",
				scrub: 1,
				start: "top center",
				end: "bottom center",
				markers: false,
			},
			defaults: { ease: "none" },
		}).to(
			linePath,
			{
				drawSVG: "100%",
				// ease: "power4.in",
			},
			0,
		);
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
