<section>
	<div class="mx-auto px-8 py-12 md:px-12 lg:py-24 2xl:max-w-7xl">
		<div class="rounded-4xl bg-blue-700 p-8 text-center lg:rounded-6xl lg:p-20">
			<div class="inline-flex items-center gap-4">
				<div class="hidden h-1 w-20 bg-white md:block"></div>
				<span class="text-xs font-semibold uppercase tracking-wide text-white">Startup Bridge Team</span>
			</div>
			<p class="mt-8 font-display text-4xl font-semibold text-white md:text-6xl lg:text-8xl">
				Ready to take your startup to the next level? Or looking to invest in tomorrow’s leaders? Join Startup Bridge 2025 and be part of the
				future of innovation.
			</p>
			<div class="mt-10 flex justify-center">
				<a
					class="flex h-10 w-full items-center justify-center rounded-full bg-lime-500 px-8 py-2 text-sm font-semibold text-black transition-all hover:bg-lime-400 lg:h-16 lg:w-auto"
					href="/contact">
					Apply or Request Invite &nbsp;&nbsp; →
				</a>
			</div>
		</div>
	</div>
</section>
