<section>
	<div class="mx-auto px-8 py-12 md:px-12 lg:py-24 2xl:max-w-7xl">
		<div class="grid grid-cols-1 items-start gap-4 xl:grid-cols-2">
			<div class="rounded-4xl bg-blue-700 p-8 lg:rounded-5xl lg:p-20">
				<div class="inline-flex items-center gap-4">
					<div class="hidden h-1 w-20 bg-white md:block"></div>
					<span class="text-xs font-semibold uppercase tracking-wide text-white">Unmatched Excellence.</span>
				</div>
				<p class="mt-8 font-display text-4xl font-semibold text-white lg:text-8xl">
					Unmatched <span class="lg:block lg:text-lime-500">Excellence</span>
				</p>
				<p class="mt-8 text-base text-white">
					We are a collective of highly skilled digital product specialists, each bringing a unique set of talents and expertise to the
					table.
					<br />
					<br />
					Our team is composed of individuals hailing from diverse backgrounds and cultures, uniting our strengths to create exceptional digital
					experiences.
					<br />
					<br />
					With members from all corners of the globe, we thrive on the synergy of our international collaboration, drawing inspiration and innovation
					from a multitude of perspectives.
				</p>
			</div>
			<ol
				role="list"
				class="grid h-full list-none grid-cols-1 items-center gap-4 rounded-4xl bg-lime-500 p-8 md:grid-cols-3 lg:grid-cols-2 lg:rounded-5xl lg:p-20 lg:text-center xl:grid-cols-1">
				<li>
					<h3 class="font-display text-lg font-semibold tracking-wide text-black md:mt-0 lg:text-3xl">
						Over 30 Years of Agency Experience
					</h3>
					<p class="mt-2 text-base text-black">
						With over three years in operation, we've achieved a remarkable track record, successfully launching projects worldwide.
					</p>
				</li>
				<li>
					<h3 class="font-display text-lg font-semibold tracking-wide text-black md:mt-0 lg:text-3xl">1000+ Content Clients</h3>
					<p class="mt-2 text-base text-black">
						We gauge our triumph by clients who repeatedly choose to collaborate. More than half of our clients entrust us beyond a
						solitary project.
					</p>
				</li>
				<li>
					<h3 class="font-display text-lg font-semibold tracking-wide text-black md:mt-0 lg:text-3xl">
						Facilitated Fundraising of Over $20B
					</h3>
					<p class="mt-2 text-base text-black">
						Our efforts have contributed to securing over $20 billion in funding for pleny enterprises.
					</p>
				</li>
			</ol>
		</div>
	</div>
</section>
