---
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@i18n/utils";

const { class: className } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const faqs = [
	{
		question: t("faqs.question1"),
		answer: t("faqs.answer1"),
	},
	{
		question: t("faqs.question2"),
		answer: t("faqs.answer2"),
	},
	{
		question: t("faqs.question3"),
		answer: t("faqs.answer3"),
	},
	{
		question: t("faqs.question4"),
		answer: t("faqs.answer4"),
	},
	{
		question: t("faqs.question5"),
		answer: t("faqs.answer5"),
	},
	{
		question: t("faqs.question6"),
		answer: t("faqs.answer6"),
	},
	{
		question: t("faqs.question7"),
		answer: t("faqs.answer7"),
	},
	{
		question: t("faqs.question8"),
		answer: t("faqs.answer8"),
	},
	{
		question: t("faqs.question9"),
		answer: t("faqs.answer9"),
	},
	{
		question: t("faqs.question10"),
		answer: t("faqs.answer10"),
	},
];
---

<section id="faq" class:list={["section faq-section relative bg-zinc-900 text-white", className]}>
	<div class="wrapper col-span-12 flex min-h-screen w-full flex-col py-32 md:flex-row">
		<div class="title-container top-0 pt-10 md:sticky md:h-[30rem]">
			<h2 class="font-display text-5xl md:text-6xl lg:text-8xl">FAQ</h2>
		</div>
		<div class="faq-list flex grow flex-col items-stretch px-0 pt-10 md:px-20 lg:px-40">
			<!-- https://codepen.io/frogmcw/pen/deqRwa -->
			<div class="hidden">
				<svg xmlns="http://www.w3.org/2000/svg">
					<symbol viewBox="0 0 24 24" id="expand-more">
						<path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path>
					</symbol>
					<symbol viewBox="0 0 24 24" id="close">
						<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path><path
							d="M0 0h24v24H0z"
							fill="none">
						</path>
					</symbol>
				</svg>
			</div>

			{
				faqs.map(({ question, answer }) => (
					<details class="relative min-h-1 grow rounded-md border-zinc-800 bg-zinc-800 text-lg transition-all">
						<summary class="gap-4 px-11 py-11">
							{question}
							<svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
							</svg>
							<svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
							</svg>
						</summary>
						<p class="px-11 pb-11 font-light text-zinc-200">{answer}</p>
					</details>
				))
			}
		</div>
	</div>
	<div class="faq-more-questions col-span-12 flex flex-col items-center justify-center gap-8 pb-32">
		<div class="flex gap-10">
			<span class="other-question-title opacity-0">{t("faq.otherquestions")}</span>
			<svg
				fill="transparent"
				stroke="#fff"
				stroke-width="40px"
				width="40"
				height="40"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				viewBox="0 0 800 800"
				xml:space="preserve">
				<g>
					<path
						id="faq-more-question-path"
						d="M779.3,519.1c-16.3,0-31,0-47.3-1.6c62-154.9,101.1-415.9-112.5-458.3C569,47.8,520,54.3,485.8,82
		c-58.7-35.9-132.1-53.8-195.7-45.7c-42.4,4.9-71.8,32.6-89.7,68.5c-39.1-13-81.5-17.9-110.9-4.9C-21.4,147.3-29.5,294,66.7,362.5
		c9.8,6.5,17.9-6.5,11.4-14.7C-1.8,259.8,40.6,82,180.8,139.1c1.6,1.6,4.9,1.6,6.5,3.3c-11.4,44-8.2,94.6,11.4,130.5
		c42.4,78.3,145.1,26.1,125.6-53.8c-9.8-37.5-45.7-73.4-89.7-96.2c13-26.1,34.2-45.7,70.1-47.3c48.9-1.6,99.5,9.8,141.9,34.2
		c4.9,3.3,8.2,4.9,13,8.2c-4.9,11.4-9.8,24.5-13,39.1c-9.8,48.9,1.6,146.8,55.4,171.2c66.9,29.4,102.7-75,84.8-123.9
		c-13-37.5-39.1-70.1-70.1-96.2c13-9.8,31-14.7,53.8-13c225,16.3,177.8,274,119.1,422.4c-16.3-1.6-34.2-4.9-52.2-6.5
		c-3.3,0-6.5,0-8.2,1.6c-9.8-8.2-27.7-4.9-27.7,11.4c-3.3,71.8,21.2,156.6,40.8,226.7c4.9,16.3,31,21.2,39.1,4.9
		c35.9-70.1,76.6-135.4,115.8-203.8C805.4,538.7,794,519.1,779.3,519.1z M285.2,220.6c21.2,52.2-47.3,65.2-58.7,26.1
		c-4.9-16.3-8.2-34.2-8.2-52.2c0-11.4,1.6-22.8,3.3-34.2C247.7,175,272.2,196.2,285.2,220.6z M492.3,135.8
		c27.7,19.6,50.6,45.7,57.1,76.6c1.6,11.4,1.6,83.2-24.5,81.5c-34.2-1.6-44-83.2-44-106C480.9,170.1,484.2,152.2,492.3,135.8z
		 M642.4,540.3c32.6,8.2,66.9,14.7,101.1,19.6c-24.5,40.8-48.9,81.5-71.8,123.9C663.6,634.9,657,584.3,642.4,540.3z">
					</path>
				</g>
			</svg>
		</div>
		<div class="faq-contact-us-button squircle-bg-white rounded-lg bg-zinc-200 opacity-0 sm:ml-44" data-cursor-hover data-cursor-parallax>
			<a
				class="flex h-10 w-full max-w-52 flex-1 items-center justify-center px-4 py-2 text-xl text-zinc-900 transition-all hover:text-black sm:w-auto md:font-bold lg:h-10"
				href={translatePath("/contact/")}>
				{t("contactus")}
			</a>
		</div>
	</div>
</section>

<style>
	details + details {
		margin-top: 20px;
	}

	details[open] {
		min-height: 50px;
		box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
	}

	summary {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 500;
		cursor: pointer;
	}

	summary:focus {
		outline: none;
	}

	summary:focus::after {
		content: "";
		height: 100%;
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}

	summary::-webkit-details-marker {
		display: none;
	}

	.control-icon {
		fill: white;
		transition: 0.3s ease;
		pointer-events: none;
	}

	.control-icon-close {
		display: none;
	}

	details[open] .control-icon-close {
		display: initial;
		transition: 0.3s ease;
	}

	details[open] .control-icon-expand {
		display: none;
	}
</style>

<style is:global>
	.faq-section {
		--faq-clip: 0;
		--faq-radius: 0;
		clip-path: inset(var(--faq-clip) round var(--faq-radius));
		margin-top: -1px; /* Fix weird clip path behavior */
	}
</style>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import { DrawSVGPlugin } from "gsap/DrawSVGPlugin";

	gsap.registerPlugin(ScrollTrigger, DrawSVGPlugin);

	function init() {
		gsap.to("#faq", {
			scrollTrigger: {
				trigger: "#faq",
				start: "bottom center",
				end: "bottom top",
				scrub: 1,
				markers: false,
			},
			"--faq-clip": "2vw",
			"--faq-radius": "5rem",
		});

		const linePath = document.querySelector("#faq-more-question-path");

		gsap.set(linePath, { drawSVG: 0 });

		let otherQTl = gsap
			.timeline({
				scrollTrigger: {
					trigger: ".faq-more-questions",
					start: "center 90%",
					end: "center top",
					markers: false,
					toggleActions: "play none none reverse",
				},
			})
			.to(".faq-more-questions .other-question-title", {
				opacity: 1,
				duration: 0.5,
			})
			.to(
				linePath,
				{
					drawSVG: "100%",
					duration: 2,
				},
				"<",
			)
			.to(
				".faq-contact-us-button",
				{
					opacity: 1,
				},
				">-=1.5",
			);
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
