<section>
	<div class="mx-auto px-8 py-12 md:px-12 2xl:max-w-7xl">
		<div class="rounded-4xl bg-blue-700 p-8 lg:rounded-6xl lg:p-20">
			<div class="inline-flex items-center gap-4">
				<div class="hidden h-1 w-20 bg-white md:block"></div>
				<span class="text-xs font-semibold uppercase tracking-wide text-white">Alex Carter, Founder of NexusWeb Solutions.</span>
			</div>
			<p class="mt-8 font-display text-4xl font-semibold text-white md:text-6xl lg:text-8xl">
				"This web agency exceeded my expectations. Their creative prowess and technical skills transformed our website into a masterpiece. A
				remarkable team that delivers results!"
			</p>
		</div>
	</div>
</section>
