---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import yourProjectImage from "@assets/images/projects/yourProject.png";
import WokCard from "@components/work/WokCard.astro";
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const { class: className } = Astro.props;

const allProjects = (await getCollection("projects"))
	.filter((prj) => {
		const [postLang, ...slug] = prj.slug.split("/");
		return postLang === lang;
	})
	.map((prj) => {
		const [postLang, slug] = prj.slug.split("/");

		return {
			...prj,
			slug: slug,
		};
	})
	.sort((a, b) => Number(b.data.pubDate) - Number(a.data.pubDate));
---

<section id="projects" class:list={["section work-preview-section home-dark-section py-12", className]}>
	<div class="col-span-12 col-start-1 mx-auto max-w-7xl">
		<h2 class="sr-only">{t("projects")}</h2>
		<ol class="grid grid-cols-1 gap-24 md:grid-cols-2 lg:gap-44">
			{
				allProjects.map((project, index) => (
					<WokCard
						image={project.data.image.source}
						project={project.data.title}
						link={`/work/${project.slug}`}
						class={
							index % 2 === 0
								? `md:col-start-1 md:row-start-${Math.floor(index / 2) * 2 + 1} md:row-span-2`
								: `md:col-start-2 md:row-start-${Math.floor(index / 2) * 2 + 2} md:row-span-2`
						}
					/>
				))
			}
		</ol>
	</div>
</section>

<style is:global>
	.work-preview-section ol li img {
		--clip: 0%;
		clip-path: inset(var(--clip) round 0.5rem);
	}
</style>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

	function init() {
		const projects = gsap.utils.toArray(".work-preview-section ol li") as gsap.DOMTarget[];
		const previews = gsap.utils.toArray(".work-preview-section ol li img") as gsap.DOMTarget[];
		previews.forEach((preview) => {
			gsap.from(preview, {
				scrollTrigger: {
					trigger: preview,
					start: "top bottom",
					end: "center center",
					scrub: 1,
					markers: false,
				},
				ease: "power3.out",
				"--clip": "30%",
			});
		});

		gsap.to(".home-dark-section", {
			scrollTrigger: {
				trigger: ".work-preview-section",
				start: "bottom bottom",
				end: "bottom 70%",
				scrub: 0.5,
				markers: false,
				immediateRender: false,
			},
			ease: "none",
			backgroundColor: "#18181b",
			color: "#fff",
		});

		if (window.innerWidth >= 768) {
			projects.forEach((project) => {
				gsap.to(project, {
					scrollTrigger: {
						trigger: ".work-preview-section ol",
						start: "top bottom",
						end: "bottom center",
						scrub: 1,
						markers: false,
					},
					ease: "none",
					y: `-200px`,
				});
			});
		}
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
