<section>
	<div class="mx-auto px-8 py-24 md:px-12 lg:pt-32 2xl:max-w-7xl">
		<div class="rounded-4xl bg-blue-700 p-8 lg:rounded-6xl lg:p-20">
			<div class="inline-flex items-center gap-4">
				<div class="hidden h-1 w-20 bg-white md:block"></div>
				<span class="text-xs font-semibold uppercase tracking-wide text-white">faq.</span>
			</div>

			<p class="mt-8 font-display text-4xl font-semibold text-white md:text-6xl lg:text-9xl">
				frequent questions

				<span class="md:block md:text-lime-500">&amp; answers</span>
			</p>
		</div>
		<div class="mx-auto mt-6 max-w-3xl space-y-3 divide-y">
			<details>
				<summary class="i w-full py-3 text-left font-display text-lg font-medium tracking-wide text-black focus:text-slate-500 lg:text-3xl">
					How do I get started with your service?
				</summary>
				<p class="pt-5 text-base text-slate-500">
					To get started with our service, simply visit our website and sign up for an account. From there, you can explore our products and
					services and choose the ones that best meet your needs.
				</p>
			</details>

			<details>
				<summary class="i w-full py-3 text-left font-display text-lg font-medium tracking-wide text-black focus:text-slate-500 lg:text-3xl">
					How can I request a quote for my project?
				</summary>
				<p class="pt-5 text-base text-slate-500">
					Requesting a quote is easy! Just visit our Contact page and provide us with the details of your project. Our team will review your
					requirements and get back to you with a tailored quote.
				</p>
			</details>

			<details>
				<summary class="i w-full py-3 text-left font-display text-lg font-medium tracking-wide text-black focus:text-slate-500 lg:text-3xl">
					What makes your agency stand out?
				</summary>
				<p class="pt-5 text-base text-slate-500">
					We combine creative expertise with technical excellence. Our team's collaborative approach ensures that every project is infused
					with innovation, design excellence, and cutting-edge technology.
				</p>
			</details>

			<details>
				<summary class="i w-full py-3 text-left font-display text-lg font-medium tracking-wide text-black focus:text-slate-500 lg:text-3xl">
					Can you handle both small startups and larger businesses?
				</summary>
				<p class="pt-5 text-base text-slate-500">
					Absolutely! We have experience working with a diverse range of clients, from startups to established enterprises. Our solutions
					are tailored to fit the unique needs of each project.
				</p>
			</details>

			<details>
				<summary class="i w-full py-3 text-left font-display text-lg font-medium tracking-wide text-black focus:text-slate-500 lg:text-3xl">
					How long does it take to complete a typical project?
				</summary>
				<p class="pt-5 text-base text-slate-500">
					The project timeline varies depending on the complexity and scope. We work closely with our clients to set realistic timelines and
					milestones to ensure timely delivery without compromising quality.
				</p>
			</details>

			<details>
				<summary class="i w-full py-3 text-left font-display text-lg font-medium tracking-wide text-black focus:text-slate-500 lg:text-3xl">
					Do you offer ongoing maintenance and support?
				</summary>
				<p class="pt-5 text-base text-slate-500">
					Yes, we provide ongoing support and maintenance services to ensure your digital assets remain up-to-date and secure. Our team is
					available to address any concerns and implement updates.
				</p>
			</details>

			<details>
				<summary class="i w-full py-3 text-left font-display text-lg font-medium tracking-wide text-black focus:text-slate-500 lg:text-3xl">
					How do you ensure my website is responsive on all devices?
				</summary>
				<p class="pt-5 text-base text-slate-500">
					We follow industry best practices for responsive design, conducting thorough testing on various devices and screen sizes. This
					ensures your website delivers a seamless user experience across platforms.
				</p>
			</details>

			<details>
				<summary class="i w-full py-3 text-left font-display text-lg font-medium tracking-wide text-black focus:text-slate-500 lg:text-3xl">
					Can you help with SEO and digital marketing strategies?
				</summary>
				<p class="pt-5 text-base text-slate-500">
					Absolutely! We specialize in SEO optimization and digital marketing services to enhance your online visibility. Our experts will
					work with you to create effective strategies that drive traffic and engagement.
				</p>
			</details>

			<details>
				<summary class="i w-full py-3 text-left font-display text-lg font-medium tracking-wide text-black focus:text-slate-500 lg:text-3xl">
					What technologies do you specialize in?
				</summary>
				<p class="pt-5 text-base text-slate-500">
					We specialize in a wide range of technologies including HTML5, CSS3, JavaScript, React, Node.js, and more. Our team stays updated
					with the latest trends to ensure your projects are built using the best tools available.
				</p>
			</details>

			<details>
				<summary class="i w-full py-3 text-left font-display text-lg font-medium tracking-wide text-black focus:text-slate-500 lg:text-3xl">
					How do I get started with your agency?
				</summary>
				<p class="pt-5 text-base text-slate-500">
					Getting started is simple! Reach out to us through our Contact page or give us a call. We'll discuss your project requirements,
					goals, and next steps to kick-start the exciting journey of collaboration.
				</p>
			</details>
		</div>
	</div>
</section>
