---
import Title from "@components/global/Title.astro";
---

<section>
	<div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-32 lg:py-32">
		<div>
			<Title title="Terms" subtitle="Last updated January 1, 2024" class="pb-10 pt-20 uppercase" />
		</div>
		<div class="prose-styles mt-12 lg:mt-24">
			<h2 id="description-all-the-terms-that-you-agree-to-when-you-sign-up-for-a-Majestico-product-">
				All the terms that you agree to when you sign up for a Majestico product.
			</h2>

			<p>
				From everyone at Mintaka, thank you for using our products! We build them to help you do your best work. There are millions of people
				using Mintaka products every day. Because we don't know every one of our customers personally, we have to put in place some Terms of
				Service to help keep the ship afloat.
			</p>
			<p>
				When we say "Company", "we", "our", or "us" in this document, we are referring to Mintaka, a leading agency in [industry/field]. We
				specialize in [brief description of services and products].
			</p>
			<p>
				When we say "Services", we mean our websites, including [www.mintaka.com], and any product created and maintained by Mintaka, such as
				[list specific services or products].
			</p>
			<p>
				When we say "You" or "your", we are referring to the people or organizations that own an account with one or more of our Services. Our
				products are designed to empower [your target audience] in [specific ways].
			</p>

			<p>WIP.</p>

			<p>If you have any questions about these Terms, please contact us at [support@mintaka.it].</p>
		</div>
	</div>
</section>
