---
import Title from "../global/Title.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section class="isolate px-6 py-24 sm:py-32 lg:px-8">
	<div class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
		<div class="text-center">
			<div class:list={["flex justify-center pb-10 pt-20 uppercase"]}>
				<div class="inline-flex flex-col gap-4">
					<div class="inline-flex items-center justify-center gap-4">
						<span class="font-mono text-xs font-semibold uppercase tracking-wide">{t("thanks.subtitle")}</span>
					</div>
					<h1 class="font-display text-3xl font-extrabold sm:text-4xl md:text-5xl lg:text-6xl">{t("thanks.title")}</h1>
				</div>
			</div>

			<p class="mt-6 text-base leading-7 text-gray-600">{t("thanks.content")}</p>
			<div class="mt-10 flex items-center justify-center gap-x-6">
				<div class="squircle-bg rounded-lg bg-zinc-900">
					<a
						class="flex h-10 w-full max-w-52 flex-1 items-center justify-center px-4 py-2 text-xl text-slate-200 transition-all hover:text-white sm:w-auto md:font-bold lg:h-10"
						href={translatePath("/")}>
						{t("homepage")}
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.gradient-element {
		@apply relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem];
		clip-path: polygon(
			74.1% 44.1%,
			100% 61.6%,
			97.5% 26.9%,
			85.5% 0.1%,
			80.7% 2%,
			72.5% 32.5%,
			60.2% 62.4%,
			52.4% 68.1%,
			47.5% 58.3%,
			45.2% 34.5%,
			27.5% 76.7%,
			0.1% 64.9%,
			17.9% 100%,
			27.6% 76.8%,
			76.1% 97.7%,
			74.1% 44.1%
		);
	}
</style>
