---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import Title from "@components/global/Title.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const allAuthors = (await getCollection("authors"))
	.filter((author) => {
		const [authorLang, ...slug] = author.slug.split("/");
		return authorLang === lang;
	})
	.map((author) => {
		const [authorLang, slug] = author.slug.split("/");

		return {
			...author,
			slug: slug,
		};
	});
---

<section>
	<div class="mx-auto px-8 py-24 md:px-12 lg:pt-32 2xl:max-w-7xl">
		<div>
			<Title class="pb-10 pt-20 uppercase" title="Authors" subtitle="lorem ipsum" />
		</div>
		<div>
			<ol class="mt-12 flex flex-col divide-y divide-zinc-800 py-8">
				{
					allAuthors.map((author) => (
						<li class="w-full py-8 font-mono text-xl font-semibold text-zinc-800 hover:text-black md:text-2xl">
							<a href={translatePath(`/author/${author.slug}`)} class="flex w-full items-center justify-between">
								{author.data.name}{" "}
								<span class="ml-auto">
									<Icon name="ic:baseline-arrow-right" width="30" />
								</span>
							</a>
						</li>
					))
				}
			</ol>
		</div>
	</div>
</section>
