---
import Title from "@components/global/Title.astro";

const { author } = Astro.props;
---

<section>
	<div class="mx-auto px-8 py-24 md:px-12 lg:pt-32 2xl:max-w-7xl">
		<div class="py-10">
			<Title title={author.data.name} subtitle="author" class="pb-10 pt-20 uppercase" />
		</div>
	</div>
</section>
