---
import Newsletter from "@components/blog/Newsletter.astro";
---

<section class="bg-black">
	<div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-32 lg:py-24">
		<div class="flex flex-col items-center justify-center gap-10 p-8 text-center lg:p-20">
			<p class="mt-8 font-display text-4xl font-semibold text-white md:text-6xl lg:text-8xl">Subscribe to our newsletter!</p>
			<Newsletter class="w-full" />
		</div>
	</div>
</section>
