---
import BlobCursorFollower from "@/components/global/BlobCursorFollower.astro";
import { AstroSeo, type AstroSeoProps } from "@astrolib/seo";
import BaseHead from "@components/BaseHead.astro";
import BackgroundTexture from "@components/global/BackgroundTexture.astro";
import Footer from "@components/global/Footer.astro";
import Navigation from "@components/global/Navigation.astro";
import { getLangFromUrl } from "../i18n/utils";

const { pathname } = Astro.url;

type Props = {
	seo?: AstroSeoProps;
};

const { seo: seoProp } = Astro.props;

const lang = getLangFromUrl(Astro.url);

const shareImage = new URL("/images/meta/mintaka_share.gif", Astro.site).toString();

const defaultSeo: AstroSeoProps = {
	title: "Web Agency Leading in Performant Web Design Solutions - Mintaka Studio",
	description:
		"Mintaka Studio excels in creating fast, user-friendly websites with a focus on aesthetic design and SEO optimization, ensuring a standout online presence",
	canonical: "https://mintaka.co",
	openGraph: {
		url: "https://mintaka.co",
		title: "Web Agency Leading in Performant Web Design Solutions - Mintaka Studio",
		description:
			"Mintaka Studio excels in creating fast, user-friendly websites with a focus on aesthetic design and SEO optimization, ensuring a standout online presence",
		images: [
			{
				url: shareImage,
				width: 1200,
				height: 630,
				alt: "Social open graph",
				type: "image/gif",
			},
			{
				url: shareImage,
				width: 4096,
				height: 4096,
				alt: "Twitter open graph",
				type: "image/gif",
			},
		],
		site_name: "Mintaka",
	},
	twitter: {
		handle: "@mintakastudio",
		site: "@mintakastudio",
		cardType: "summary_large_image",
	},
	additionalMetaTags: [
		{
			name: "publisher",
			content: "Mintaka Studio",
		},
	],
};

const seo = {
	...defaultSeo,
	...seoProp,
};

function cursorFollowerActive() {
	const paths = ["", "/", "/it/", "/it"];
	return paths.includes(pathname);
}
---

<html lang={lang}>
	<head>
		<BaseHead />
		<AstroSeo {...seo} />
	</head>
	<body class="bg-slate-50">
		<BackgroundTexture />
		<Navigation />
		{cursorFollowerActive() && <BlobCursorFollower />}
		<slot />
		<Footer />
	</body>
</html>
