---
import BlobCursorFollower from "@/components/global/BlobCursorFollower.astro";
import { AstroSeo, type AstroSeoProps } from "@astrolib/seo";
import BaseHead from "@components/BaseHead.astro";
import BackgroundTexture from "@components/global/BackgroundTexture.astro";
import Footer from "@components/global/Footer.astro";
import Navigation from "@components/global/Navigation.astro";
import { getLangFromUrl } from "../i18n/utils";

const { pathname } = Astro.url;

type Props = {
	seo?: AstroSeoProps;
};

const { seo: seoProp } = Astro.props;

const lang = getLangFromUrl(Astro.url);

const shareImage = new URL("/images/meta/mintaka_share.gif", Astro.site).toString();

const defaultSeo: AstroSeoProps = {
	title: "Startup Bridge – Connecting Series A Startups & Venture Capitalists",
	description:
		"Startup Bridge is the premier event for Series A startups to connect with leading venture capitalists. Pitch, network, and accelerate your growth at Startup Bridge 2025.",
	canonical: "https://startupbridgeph.com",
	openGraph: {
		url: "https://startupbridgeph.com",
		title: "Startup Bridge – Connecting Series A Startups & Venture Capitalists",
		description:
			"Startup Bridge is the premier event for Series A startups to connect with leading venture capitalists. Pitch, network, and accelerate your growth at Startup Bridge 2025.",
		images: [
			{
				url: shareImage,
				width: 1200,
				height: 630,
				alt: "Startup Bridge event social preview",
				type: "image/gif",
			},
			{
				url: shareImage,
				width: 4096,
				height: 4096,
				alt: "Startup Bridge event Twitter preview",
				type: "image/gif",
			},
		],
		site_name: "Startup Bridge",
	},
	twitter: {
		handle: "@startupbridge",
		site: "@startupbridge",
		cardType: "summary_large_image",
	},
	additionalMetaTags: [
		{
			name: "publisher",
			content: "Startup Bridge",
		},
	],
};

const seo = {
	...defaultSeo,
	...seoProp,
};

function cursorFollowerActive() {
	const paths = ["", "/", "/it/", "/it"];
	return paths.includes(pathname);
}
---

<html lang={lang}>
	<head>
		<BaseHead />
		<AstroSeo {...seo} />
	</head>
	<body class="bg-slate-50">
		<BackgroundTexture />
		<Navigation />
		{cursorFollowerActive() && <BlobCursorFollower />}
		<slot />
		<Footer />
	</body>
</html>
