<div id="cursor-follower" data-xdata="{ isTouchDevice: 'ontouchstart' in window }" data-xshow="!isTouchDevice">
	<div id="blob" class="blob"></div>
</div>

<script>
	import { gsap, Power2 } from "gsap";

	function init() {
		const isTouchDevice = window.matchMedia("(hover: none)").matches;

		if (isTouchDevice) return;

		var mouse = { x: 0, y: 0 };
		var pos = { x: 0, y: 0 };
		var ratio = 0.65;
		var blob = document.getElementById("blob");
		var magicCursor = document.getElementById("cursor-follower");

		if (!blob || !magicCursor) return;

		gsap.set(blob, { xPercent: -50, yPercent: -50 });

		document.addEventListener("mousemove", mouseMove);

		function updatePosition() {
			pos.x += (mouse.x - pos.x) * ratio;
			pos.y += (mouse.y - pos.y) * ratio;
			gsap.to(blob, { duration: 0.5, x: pos.x, y: pos.y });
		}

		function mouseMove(e: MouseEvent) {
			var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
			mouse.x = e.pageX;
			mouse.y = e.pageY - scrollTop;
		}

		gsap.ticker.add(updatePosition);

		let parallaxWraps = document.querySelectorAll("[data-cursor-hover]");

		parallaxWraps.forEach(function (wrap) {
			function magneticElement(e: MouseEvent, target: HTMLElement, movement: number) {
				var boundingRect = target.getBoundingClientRect();
				var relX = e.pageX - boundingRect.left;
				var relY = e.pageY - boundingRect.top;
				var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

				gsap.to(target, {
					duration: 0.3,
					x: ((relX - boundingRect.width / 2) / boundingRect.width) * movement,
					y: ((relY - boundingRect.height / 2 - scrollTop) / boundingRect.height) * movement,
					ease: Power2.easeOut,
				});
			}

			wrap.addEventListener("mouseenter", function (e) {
				gsap.to(blob, { duration: 0.5, opacity: 0.5 });
			});

			wrap.addEventListener("mouseleave", function (e) {
				gsap.to(blob, { duration: 0.5, opacity: 0.2 });

				if (wrap && wrap.hasAttribute("data-cursor-parallax")) {
					gsap.to(wrap, { duration: 0.3, scale: 1, x: 0, y: 0 });
				}
			});

			wrap.addEventListener("mousemove", function (e) {
				if (wrap && wrap.hasAttribute("data-cursor-parallax")) {
					magneticElement(e as MouseEvent, wrap as HTMLElement, 10);
				}
			});
		});

		magicCursor?.classList.add("active");
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>

<style>
	#cursor-follower {
		position: absolute;
		opacity: 0;
		/* z-index: -20; */
		height: 100%;
		width: 100%;
		-webkit-transition: opacity 0.2s ease-in-out 1s;
		transition: opacity 0.2s ease-in-out 1s;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	#cursor-follower.active {
		animation: fadeIn 2s forwards;
		-webkit-animation: fadeIn 2s forwards;
		-moz-animation: fadeIn 2s forwards;
		-o-animation: fadeIn 2s forwards;
		-ms-animation: fadeIn 2s forwards;
	}

	#blob {
		position: fixed;
		border-radius: 100px;
		filter: blur(100px);
		opacity: 20%;
		top: 0;
		left: 0;
		height: 500px;
		width: 500px;
		background-color: #edb74d;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
</style>
