---
const { title, subtitle, class: className } = Astro.props;
---

<div class:list={["flex md:justify-center", className]}>
	<div class="inline-flex flex-col gap-4">
		<div class="inline-flex items-center gap-4">
			<div class="hidden h-1 w-20 bg-black md:block"></div>
			<span class="font-mono text-xs font-semibold uppercase tracking-wide" set:html={subtitle} />
		</div>
		<h1 class="font-display text-5xl font-extrabold sm:text-6xl md:text-7xl lg:text-9xl">{title}</h1>
	</div>
</div>
